body {
  margin: 0;
}
head{
  margin: 0;
}
.topheader {
  color: yellow;
}
.headrs{
  background-color: black;
  padding: 10px 20px;

}

.headrsa{
  background-color: black;
  padding: 20px 20px;

}
.nav ul{
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav li{
  display: inline-block;
  color: white;
  padding: 15px;
  margin-left: 20px;
  font-style: normal;
  font-size: 20px;
}
hr {
  border: 3px solid yellow;
  margin:0;
}


.first-p {
  background-color: grey;
  font-size: 30px;
  padding: 10px 14px;
  padding: 20px;
  margin: 0;
  text-align:center;
  font-style: italic;
  font-weight: bold;
}
.main-s {
  background: url(coworking.jpg);
  border: none;
  background-size: cover;
  margin: 0 0 15px 0;
  height: 700px;
}

.transbox {
  margin: 0;
  background-color: white;
  border: none;
  opacity: 0.6;
  height: 300px;
  width: 250px;
  padding: 25px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}
.transbox p {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.transbox button {
  background-color: #FFFF00;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin: 8px 8px;
  cursor: pointer;
  text-align:center;
  padding: 10px 20px;
  display: flex;
  text-align: center;
}

.section-d {
  display: flex;
}

.section-d  div{
  flex-basis: 33.33%;
  padding: 30px 30px;
  border-left: 1px solid #A9A9A9;
}
.div1 {
  border: 10px;
}
.section-d button{
  background-color: #A9A9A9;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 8px;
  cursor: pointer;
}
.section-d p{
  font-size: 20px;
}

.section-d h1{
text-align: center;
}

footer{
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin: 15px 0 0 0;
}
